<footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 col-lg-3 offset-lg-3">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">LaLa Kafeterija</h2>
              <p>Dobrodošli u moju najnoviju kafeteriju! Želim Vam ugodan boravak u njemu! Vaša LaLa kafeterija!</p>
              <ul  class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
		  </div>
		  
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Radno vreme:</h2>
              <ul class="list-unstyled open-hours">
              
                <li class="d-flex"><span>Ponedeljak - Petak</span><span>07h - 00h</span></li>
                <li class="d-flex"><span>Subota</span><span>07h - 22h</span></li>
                <li class="d-flex"><span>Nedelja</span><span>08h - 20h</span></li>
            
              </ul>
            </div>
          </div>
        </div>

<hr width="100%" color="white" size="1px"> 
<h5 align="center" style="color: white;"> Dođite i uverite se sami! <br> Uvek uz Vas! <br> Vaša <a href="/"> LaLa kafeterija! </a>  </h5>
      </div>
    </footer>
<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

