<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head"); %>
  </head>
  <body>
    
	<%- include("partials/nav"); %>  
    
    <section class="home-slider js-fullheight owl-carousel bg-white">
      <div class="slider-item js-fullheight">
      	<div class="overlay"></div>
        <div class="container-fluid p-0">
          <div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
          	<div class="one-third order-md-last img js-fullheight" style="background-image: url(images/coffe1.jpg);">
          		<div class="overlay"></div>
          	</div>
	          <div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
	          	<div class="text mt-md-5">
		            <h1 class="mb-4">Kafeterija LaLa</h1>
		            <p>Dobrodošli u moju prvu kafeteriju. Želim Vam prijatnu atmosferu</p>
		            <p><a href="#" class="btn btn-primary px-4 py-3 mt-3">Detaljnije</a></p>
	            </div>
	          </div>
        	</div>
        </div>
      </div>

      <div class="slider-item js-fullheight">
      	<div class="overlay"></div>
        <div class="container-fluid p-0">
          <div class="row d-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
          	<div class="one-third order-md-last img js-fullheight" style="background-image:url(images/coffe2.jpg);">
          		<div class="overlay"></div>
          	</div>
	          <div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
	          	<div class="text mt-md-5">
		            <h1 class="mb-4"> Prvi u Srbiji! </h1>
		            <p>Na takmičenju 2020 godine, proglašeni smo za najbolju kafeteriju u Srbiji! </p>
		            <p><a href="#" class="btn btn-primary px-4 py-3 mt-3">Detaljnije</a></p>
	            </div>
	          </div>
        	</div>
        </div>
      </div>
    </section>
	

		<section class="ftco-section ftco-wrap-about ftco-no-pb ftco-no-pt">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-sm-5 img img-2 d-flex align-items-center justify-content-center justify-content-md-end" style="background-image: url(images/coffe7.jpg); position: relative"></div>
					<div class="col-sm-7 wrap-about py-5 ftco-animate">
	          <div class="heading-section mt-5 mb-4">
	          	<div class="pl-lg-5 ml-md-5">
		          	<span class="subheading">O Nama!</span>
		            <h2 class="mb-4">Kafeterija LaLa</h2>
	            </div>
	          </div>
	          <div class="pl-lg-5 ml-md-5">
							<p>Dobrodošli u moju prvu kafeteriju! Dana 19.01.2019. godine, krenuli smo sa radom! Od tada pa do dan danas, svaka mušterija iskazala je mišljenje da je ova kafeterija jedna od najboljih u državi! Videćete i sami ako budete dolazili. Očekuje Vas prvoklasna kafa kakvu nikada niste pili. Osoblje će biti uvek tu uz Vas. Zato dođite i uverite se sami!!!</p>
							<h3 class="mt-5">Specijalitet Kuće</h3>
							<div class="thumb my-4 d-flex">
	            	<a href="#" class="thumb-menu pr-md-4 text-center">
	            		<div class="img" style="background-image: url(images/coffe8.jpg);"></div>
	            		<h4>Mochaccino</h4>
	            	</a>
				
				
	            	<a href="#" class="thumb-menu pr-md-4 text-center">
	            		<div class="img" style="background-image: url(images/coffe9.jpg);"></div>
	            		<h4>Espresso Affogato</h4>
					</a>
					<a href="#" class="thumb-menu pr-md-4 text-center">
	            		<div class="img" style="background-image: url(images/coffe10.jpg);"></div>
	            		<h4>Baby Marakesh</h4>
	            	</a>
				</div>
				
						</div>
					</div>
				</div>
			</div>
		</section>
				<br> <br> 
	
                <!-- |||||||||||||||||| MENI |||||||||||||||  -->

   
   <section>
   <div class="container">
    		<div class="row justify-content-center">
          <div class="col-md-7 text-center heading-section ftco-animate">
          	<span class="subheading">Svi proizvodi!</span>
            <h2 class="mb-5">Izaberite Vašu željenu kafu! <br> Klikni i uživaj! <br>
            <a href="/meni" class="btn btn-primary px-4 py-3 mt-3">&nbsp; &nbsp;&nbsp; MENI &nbsp; &nbsp;&nbsp;</a></h2>
          </div>
        </div>
        </section>


	   


                     <!--|||||||||||||||||||||||||| SRECNI KUPCI ||||||||||||||||||||||||||| -->
    <section class="ftco-section testimony-section" style="background-image: url(images/bg_5.jpg);" data-stellar-background-ratio="1.1">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
          	<span class="subheading">Istaknuti utisci o nama!</span>
            <h2 class="mb-4">Srećan kupac</h2>
          </div>
        </div>
        <div class="row ftco-animate justify-content-center">
          <div class="col-md-7">
            <div class="carousel-testimony owl-carousel ftco-owl">

    						<!--Osoba 1-->
              <div class="item"> 
                <div class="testimony-wrap text-center py-4 pb-5">
               
                  <div class="user-img mb-4" style="background-image: url(images/person_1.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4"><b style="color: white">Kafeterija je izuzetno dobra. Sve je na nivou!</b></p>
                    <p class="name"><b style="color: white">Mihajlo</b></p>
                    <span class="position"><b style="color: white">Gost</b></span>
				  </div>
				  
                </div>
				</div>

				<!--Osoba 2-->
				<div class="item"> 
					<div class="testimony-wrap text-center py-4 pb-5">
				   
					  <div class="user-img mb-4" style="background-image: url(images/person_2.jpg)">
						<span class="quote d-flex align-items-center justify-content-center">
						  <i class="icon-quote-left"></i>
						</span>
					  </div>
					  <div class="text p-3">
						<p class="mb-4"><b style="color: white">Odlična atmosfera! Preporuka za svakog! Kafe su stvarno prvoklasne!</b></p>
						<p class="name"><b style="color: white">Danilo</b></p>
						<span class="position"><b style="color: white">Inženjer</b></span>
					  </div>
					  
					</div>
					</div>

					<!--Osoba 3-->
				<div class="item"> 
					<div class="testimony-wrap text-center py-4 pb-5">
				   
					  <div class="user-img mb-4" style="background-image: url(images/person_3.jpg)">
						<span class="quote d-flex align-items-center justify-content-center">
						  <i class="icon-quote-left"></i>
						</span>
					  </div>
					  <div class="text p-3">
						<p class="mb-4"><b style="color: white">Osoblje je sasvim u redu! Kafa je originalna!</b></p>
						<p class="name"><b style="color: white">Dušan</b></p>
						<span class="position"><b style="color: white">Gradonačelnik</b></span>
					  </div>
					  
					</div>
					</div>

					<!--Osoba 2-->
				<div class="item"> 
					<div class="testimony-wrap text-center py-4 pb-5">
				   
					  <div class="user-img mb-4" style="background-image: url(images/person_4.jpg)">
						<span class="quote d-flex align-items-center justify-content-center">
						  <i class="icon-quote-left"></i>
						</span>
					  </div>
					  <div class="text p-3">
						<p class="mb-4"><b style="color: white">Kad god Vam je dosadno, preporučujem da dođete u LaLa kafeteriju! Vrh je!</b></p>
						<p class="name"><b style="color: white">Milica</b></p>
						<span class="position"><b style="color: white">Arhitekta</b></span>
					  </div>
					  
					</div>
					</div>

					



            </div>
          </div>
        </div>
      </div>
    </section>
			
    <%- include("partials/footer"); %>
	<%- include("partials/skripte"); %>
    
  </body>
</html>