<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
      <link rel="stylesheet" href="css/login.css">
  </head>
  <body>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <br>
    

 
    <form method="POST" action="/login">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input name="lozinka" type="password" class="form-control" id="lozinka">
        </div>
        
        <button type="submit" class="btn btn-primary" >Submit</button>
      </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/registracija">Registruj se</a>
    </div>

  </div>
</div>

   
    <%- include("partials/skripte") %>
    <%- include("partials/footer") %>
    
  </body>
</html>