<!DOCTYPE html>
<html lang="en">
  <head>
    
      <link rel="stylesheet" href="css/login.css">
  </head>
  <body>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <br>
    

    <!-- Login Form -->
    <form action="/registracija" method="POST">
    <input type="text" id="ime" name="ime" class="fadeIn second" placeholder="Ime">
    <input type="text" id="prezime" name="prezime" class="fadeIn second" placeholder="Prezime">
    <input type="text" id="broj_tel" name="broj_tel" class="fadeIn second" placeholder="Broj Telefona">
    <input type="text" id="grad" name="grad" class="fadeIn second" placeholder="Grad">
    <input type="text" id="adresa" name="adresa" class="fadeIn second" placeholder="Adresa">
      <input type="text" id="email" class="fadeIn second" name="email" placeholder="E-mail">
      <input type="text" id="lozinka" class="fadeIn second" name="lozinka" placeholder="Lozinka"> <br>
      <input type="submit" class="fadeIn fourth" value="Pristupi">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/login">Prijavi se!</a>
    </div>

  </div>
</div>

   
    
    
  </body>
</html>